.tree-logo {
    font-size: 18px;
    margin: 10px 0;
    padding: 20px !important;
}

.tree-title {
    font-size: 26px;
    font-weight: bold;
}

.tree-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin: 32px 0 0 0;
}

.tree-subtitle2 {
    font-size: 18px;
    font-weight: bold;
}


