{% load utils %}
<!DOCTYPE html>
<html>
<head>
  <title>tree-patching::{{ item.county }}::{{ item.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/musubii.min.css" />
  <link rel="stylesheet" href="/static/css/place.css" />
  <link rel="stylesheet" href="/static/css/github-markdown.min.css">
  <style>
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }
    </style>
  <script>
    function initMap() {
      var fenway = {lat: 42.345573, lng: -71.098326};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: fenway,
        zoom: 14
      });
      var panorama = new google.maps.StreetViewPanorama(
        document.getElementById('pano'), {
          position: fenway,
          pov: {
            heading: 34,
            pitch: 10
          }
        });
      map.setStreetView(panorama);
    }
    /*
    var panorama = new google.maps.StreetViewPanorama(
      document.getElementById('pano'), {
        position: {lat: 37.869260, lng: -122.254811},
        pov: {heading: 165, pitch: 0},
        motionTracking: false
      });
*/
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgkoBw0w-Q3A-QQOIcPt-xhiz9ae2XDWM&callback=initMap" type="text/javascript"></script>
</head>
<body>
  <div class="app">
    <header class="section is-header is-padding-top-safe">
      <div class="inner is-padding-right-sm is-padding-left-md">
	<div class="grid is-middle is-between">
	  <div class="column">
	    <div class="box is-flex is-bottom">
	      <div class="box is-margin-right-sm">
                <span class="tree-logo"><a href="https://sheet2site.com/api/v3/index.php?key=1v9FhftI7hhkID2EQRhtbFc9bZ5Jq6dB89BwDh1SSCIs">台灣好植地 Patch by Planting</a></span>
	      </div>
	      <div class="box is-flex">
		<span class="text is-font-sans-en is-line-height-xs is-xs"></span>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </header>
    <main>
      <div id="map"></div>
      <section class="section is-hero is-padding-horizontal-safe is-wide-lg">
	<div class="inner is-padding-horizontal-md">
	  <div class="grid is-middle is-center is-gap-xxl">
	    <div class="column is-space-md">
	      <p class="text is-primary is-font-sans-en is-weight-700">
		<span class="text is-block is-hero-1 tree-title">{{ item.county }} - {{ item.title }}</span>
	      </p>
	      <h1 class="text is-line-height-lg is-sm">
		<span class="text is-fablet-block">{{ item.description }}</span>
	      </h1>
	    </div>
	  </div>
	</div>
      </section>
      <section class="section is-hero is-padding-horizontal-safe is-wide-lg">
	<div class="inner is-padding-horizontal-md">
	  <h2 class="tree-subtitle">基本資料</h2>
	  <div class="grid is-center is-top is-gap-md">
	    <div class="column is-6">
	      <div><img src="{{ item.cover_url }}"></div>
	    </div>
	    <div class="column is-6">
	      <div class="card is-radius-sm is-bg-light is-floating">
		<div class="box is-padding-md">
		  <ul class="list is-disc">
		    <li class="item">用地類型：{{ item.place_type }}</li>
		    <li class="item">推動形式：{{ item.get_action_type_display }}</li>
		    <li class="item">相關規範：{{ item.get_rule_links|safe }}</li>
		    <li class="item">所有權單位：{{ item.get_owner_links|safe }}</li>
		    <li class="item">管理單位：{{ item.get_administrator_links|safe }}</li>

                    <li class="item">諮詢對象-民間/公部門：{{ item.get_contact_links|safe }}</li>

		    <li class="item">認養單位：{{ item.get_sponsor_links|safe }}</li>
                    <li class="item">苗圃：{{ item.get_nursery_links|safe }}</li>
                    <li class="item">認養單位：{{ item.get_garden_links|safe }}</li>
                    <li class="item">參考綠化案例：{{ item.get_case_links|safe }}</li>
		    <li class="item">植物園與環教場所<a href="{{ item.link }}" target="_blank">相簿與討論區</a></li>
		    <li class="item">經緯度：{{ item.lon}}, {{ item.lat }} <a href="https://www.google.com.tw/maps/@{{ item.lat }},{{ item.lon}},4976m/data=!3m1!1e3?hl=zh-TW" target="_blank" class="text is-link">google地圖</a></li>
		  </ul>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </section>
      <section class="section is-hero is-padding-horizontal-safe is-wide-lg">
        <div class="inner is-padding-horizontal-md">
	  <h2 class="tree-subtitle">分析與工具</h2>
	  <div class="grid is-center is-top is-gap-md">
	    <div class="column is-12">
              <h3>樹種資料應用</h3>
              <div class="card is-radius-sm is-bg-light is-floating">
                <div class="markdown-body">{{ item.tree_species_info | markdown | safe }}</div>
              </div>
            </div>
	    <div class="column is-12">
              tree images
            </div>
          </div>
	  <h2 class="tree-subtitle">Land Script 分析初評</h2>
	  <div class="grid is-center is-top is-gap-md">
	    <div class="column is-12">
              Powered by <a href="https://hackmd.io/-93qFuokQKOpPLEJKL4yaA" class="text is-link is-primary" target="_blank">LandScript</a>
            </div>
            {% for i in item.land_script_images.all %}
            <div class="column is-6">
              <img src="{% if i.image %}{{ i.image.url }}{% elif i.url %}{{ i.url }}{% endif %}">
            </div>
            {% endfor %}
          </div>

	  <h2 class="tree-subtitle">Unlimited Cities DIY 願景方案</h2>
	  <div class="grid is-center is-top is-gap-md">
	    <div class="column is-12">
              Powered by <a href="https://www.host-lab.org/" class="text is-link is-primary" target="_blank">HOST Lab</a>
            </div>
            {% for i in item.unlimited_cities_images.all %}
            <div class="column is-6">
              <img src="{% if i.image %}{{ i.image.url }}{% elif i.url %}{{ i.url }}{% endif %}">
            </div>
            {% endfor %}
          </div>
          <div class="column is-12">
            <a href="https://bit.ly/Unlimited-Cities-DIY-demo" target="_blank" class="text is-link is-primary">運用網頁工具，繪製您的願景方案</a>
          </div>
        </div>
        <div class="inner is-padding-horizontal-md">
	  <h2 class="tree-subtitle">建議查核項目</h2>
	  <div class="grid is-center is-top is-gap-md">
	    <div class="column is-12">
              <div class="card is-radius-sm is-bg-light is-floating">
                <div class="markdown-body">{{ item.checklist_info | markdown | safe }}</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <script>
    (function(exports) {
      "use strict";

      function initMap() {
        console.log('init map');
        exports.map = new google.maps.Map(document.getElementById("map"), {
          center: {
            lat: -34.397,
            lng: 150.644
          },
          zoom: 8
        });
      }
      console.log('-----')
      exports.initMap = initMap;
    })((this.window = this.window || {}));
        </script>
</body>
</html>
